{% extends "base.html" %} {% block title %}Time registering{% endblock %} {%
block content %}
<h1 align="center">Time registering</h1>

<form method="POST">
  <label for="birthday">Start tid:</label>
  <input type="datetime-local" id="start-dato" name="start-dato" />
  <label for="birthday">Slutt tid:</label>
  <input type="datetime-local" id="end-dato" name="end-dato" />
  <div align="center">
    <button type="submit" class="btn btn-primary">Lagre time</button>
  </div>
</form>

{% endblock %}
