{% extends "base.html" %} {% block title %}Time registering{% endblock %} {%
block content %}
<h1 align="center">Time registering</h1>

<form method="POST">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Start dato</span>
    </div>
    <input
      type="datetime-local"
      class="form-control"
      id="start-dato"
      name="start-dato"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Slutt dato</span>
    </div>
    <input
      type="datetime-local"
      class="form-control"
      id="end-dato"
      name="end-dato"
    />
  </div>

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Prosjket</label>
  <select
    class="custom-select my-1 mr-sm-2"
    id="project_type"
    name="project_type"
  >
    <option selected>Velg et allternativ..</option>
    <option value="1">Ingen prosjekt</option>
    <option value="2">Sykehjem</option>
    <option value="3">Liland Barnehage</option>
  </select>
  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input
      type="checkbox"
      class="custom-control-input"
      id="customControlInline"
    />
    <label class="custom-control-label" for="customControlInline"
      >Husk mitt valg</label
    >
  </div>
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Overtid</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Velg et allternativ..</option>
    <option value="1">Utløser overtid</option>
    <option value="2">Prosjekt</option>
    <option value="3">Ingen konsekvenser</option>
  </select>
  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input
      type="checkbox"
      class="custom-control-input"
      id="customControlInline"
    />
    <label class="custom-control-label" for="customControlInline"
      >Husk mitt valg</label
    >
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Grunnlag:</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
  <div align="center">
    <button type="submit" class="btn btn-primary">Lagre time</button>
  </div>
</form>
{% endblock %}
